<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        fetch('/dbf', {

            headers: {
                'Content-Type': 'application/json'
            },

            method: 'POST',

            body: JSON.stringify({
                "greeting": "Русский!"
            })
        }).then(function (response) { // At this point, Flask has printed our JSON
            return response.text();
        }).then(function (text) {
            window.open('dbffisrt')
            window.open('dbfsecond')
            window.open('dbf/remove-all')
        });

    </script>
    <a href="download.html">Download file</a>
</body>

</html>
